<mat-sidenav-container fullscreen class="sidenav-container bg-stone-800">

  <mat-sidenav class="p-3 bg-stone-900" #drawer mode="push">

<!-- Contenedor del sidenav -->
<div class="">
<div class="head-sidenav">
<h1 class="text-gray-400 text-xl font-bold m-3">Todo Task</h1>
<button class="button-sidenav" (click)="drawer.toggle(toogleSide=false)">X</button>
</div>
<hr class="text-gray-400">

<div class="flex flex-col justify-center items-center">

    <time-page class="w-full"></time-page>


  <mat-label class=" ">

    <!-- Input -->
    <div class="relative">
      <textarea matInput class="w-80 input-task" #inputValue placeholder="Agregar tarea..." ></textarea>
      <div class="absolute inset-y-1 right-1 flex justify-end">
        <button
          class="flex aspect-square h-full items-center justify-center rounded-xl bg-neutral-950 text-white transition hover:bg-neutral-800"
          (click)="newTask(inputValue.value); inputValue.value= ''">
         <mat-icon fontIcon="arrow_right"></mat-icon>

        </button>
      </div>
    </div>

    <div class="taskAdd" *ngIf="taskAddMesage">
      <p class="mx-2">Added task</p>
      <mat-icon fontIcon="star"></mat-icon>
    </div>
  </mat-label>


</div>



</div>

</mat-sidenav>
<div class="bg-stone-800 h-screen px-5">

<!-- body -->
<div class="container-all p-4">
    <button class="button-side" (click)="drawer.toggle(toogleSide = true)">
      New Task +
    </button>





  <div class="container-drags columns-2 flex ">

    <div class="container-drag">

      <h2 class="h2-title">Tasks</h2>
      <div
       class="list-drag"
       cdkDropList
       #todoList="cdkDropList"
       [cdkDropListData]="todo"
       [cdkDropListConnectedTo]="[doneList,pendingList]"
       (cdkDropListDropped)="drop($event)">
       @for (item of todo ; track item;let i =$index) {
          <div class="item-drop" cdkDrag>
          <span class="span-item-drop" > {{item}} </span>
          <button class="button-item-drop" (click)="removeTaskTodo(i)">
            <mat-icon fontIcon="delete"></mat-icon>
          </button>
          </div>
        }
      </div>

    </div>
    <div class="container-drag">
      <h2 class="h2-title">Done
      </h2>
      <div
       class="list-drag"
       cdkDropList
       #doneList="cdkDropList"
       [cdkDropListData]="done"
       [cdkDropListConnectedTo]="[todoList,pendingList]"
       (cdkDropListDropped)="drop($event)">
       @for (item of done ; track item; let i =$index) {
        <div class="item-drop" cdkDrag>
        <span class="span-item-drop" > {{item}} </span>
        <button class="button-item-drop" (click)="removeTaskDone(i)">
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
        </div>
      }
      </div>

    </div>
    <div class="container-drag">
      <h2 class="h2-title">Pending
      </h2>
      <div
       class="list-drag"
       cdkDropList
       #pendingList="cdkDropList"
       [cdkDropListData]="pending"
       [cdkDropListConnectedTo]="[todoList,doneList]"

       (cdkDropListDropped)="drop($event)">
       @for (item of pending ; track item; let i =$index) {
        <div class="item-drop" cdkDrag>
        <span class="span-item-drop" > {{item}} </span>
        <button class="button-item-drop" (click)="removeTaskPending(i)">
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
        </div>
      }

    </div>
    </div>


  </div>


</div>







  </div>
</mat-sidenav-container>






