

.input-task{

@apply block w-full rounded-2xl border border-neutral-300 bg-transparent
 py-4 pl-6 pr-20 text-base/6 text-neutral-950 ring-4 ring-transparent
 transition placeholder:text-neutral-500 focus:border-neutral-950
 focus:outline-none focus:ring-neutral-950/5


}

/*==================HEAD SIDENAV =======================*/
.head-sidenav{
@apply flex justify-between items-center
}

.button-sidenav{

  @apply flex aspect-square items-center justify-center rounded-xl
  bg-neutral-950 text-gray-400 transition hover:bg-neutral-800
  h-10 w-14 p-2

}

.taskAdd{
  @apply flex justify-center text-yellow-300 my-1
}


/*================== BODY =======================*/

.button-side{
  @apply flex aspect-square items-center justify-center rounded-xl
   bg-neutral-950 text-gray-300 transition hover:bg-neutral-800
   h-14 w-full p-2

}
/* Contenedor de los drag and drop */
.container-drags{
 @apply flex flex-col items-center
        md:flex-row md:justify-between md:items-start md:flex-wrap md:px-2
        xl:flex-row xl:justify-around xl:px-4
}

/* Contenedor de cada lista */
.container-drag{
@apply my-3 mx-3 bg-stone-900 p-3 rounded-lg w-full
md:w-1/3
xl:w-1/4 xl:px-6 xl:py-5
}

/* Titulo de cada tarea */
.h2-title{
  @apply font-bold border-2 rounded-lg border-stone-600 text-center py-2 text-gray-300
}

/* Contenedor de cada una de las lista */
.item-drop{
@apply p-4 cursor-move bg-stone-700 rounded-lg my-2 sm:text-sm
}

